<!DOCTYPE html>
<html lang="en">

    {% include 'header.html' %}
    <body>
        <header class="masthead" style="background-image: url('static/assets/img/tech.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Here are a few projects.</h1>
                            <h2 class="subheading">Git repo links included.</h2>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Projects-->
                        <h2>Cafe and Wifi RESTFul API</h2>
                        <p>RESTFul API built using Python, HTML. and Postman. Documentation provided by Postman.</p>
                        <a href="https://github.com/lilwill590/Cafe-and-Wifi"><img class="img-fluid" src="static/assets/img/cafe.jpg"
                        alt="Cafe interior." height="250" width="650"/></a>
                        <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                        <p><a href="https://github.com/lilwill590/Cafe-and-Wifi">GitHub repo</a></p>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <h2>Virtual Library</h2>
                        <p>A library where you can add, delete, and rate your favorite books.</p>
                        <a href="https://github.com/lilwill590/Virtual-Library"><img class="img-fluid" src="static/assets/img/library.jpg" alt="Large multi floor library with people." height="250" width="650"/></a>
                        <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                        <p><a href="https://github.com/lilwill590/Virtual-Library">GitHub repo</a> </p>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <h2>Movie Ranker Website</h2>
                        <p>Description of project and tools used to make it.</p>
                        <a href="https://github.com/lilwill590/Movie-Ranking-Website"><img class="img-fluid" src="static/assets/img/move-poster.jpg" alt="A wall with 3 movie posters." height="250" width="650"/></a>
                        <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                        <p><a href="https://github.com/lilwill590/Movie-Ranking-Website">GitHub repo</a> </p>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <h2>Calculator with Anvil</h2>
                        <p>Simple calculator done with Anvil web app.</p>
                        <a href="https://similar-sticky-impression.anvil.app/"><img class="img-fluid" src="static/assets/img/calculator.jpg"
                        alt="Image of some cards and dice with poker chips." height="250" width="650"/></a>
                        <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                        <p><a href="https://similar-sticky-impression.anvil.app/">GitHub repo</a></p>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <h2>Blackjack</h2>
                        <p>Blackjack built using Python with random and replit modules. GitHub repo included below.</p>
                        <a href="https://github.com/lilwill590/Blackjack"><img class="img-fluid" src="https://images.unsplash.com/photo-1655159428752-c700435e9983?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="Image of some cards and dice with poker chips." height="250" width="650"/></a>
                        <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                        <p><a href="https://github.com/lilwill590/Blackjack">GitHub repo</a></p>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <h2>Snake game</h2>
                        <p>Description of project and tools used to make it.</p>
                        <a href="https://github.com/lilwill590/Snake-Game"><img class="img-fluid" src="https://plus.unsplash.com/premium_vector-1689096751455-ceb88f7a71ae?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image of an animated snake."
                        height="250" width="650"/></a>
                        <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                        <p><a href="https://github.com/lilwill590/Snake-Game">GitHub repo</a></p>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <h2>Password generator</h2>
                        <p>Description of project and tools used to make it.</p>
                        <a href="https://github.com/lilwill590/Password-Generator"><img class="img-fluid" src="static/assets/img/locks.jpg" alt="An image with a key inserted into a lock." height="250" width="650"/></a>
                        <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                        <p><a href="https://github.com/lilwill590/Password-Generator">GitHub repo</a> </p>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <h2 class="section-heading">Reaching for the Stars</h2>
                        <p>As we got further and further away, it [the Earth] diminished in size. Finally it shrank to the size of a marble, the most beautiful you can imagine. That beautiful, warm, living object looked so fragile, so delicate, that if you touched it with a finger it would crumble and fall apart. Seeing this has to change a man.</p>
                        <a href="#!"><img class="img-fluid" src="../static/assets/img/post-sample-image.jpg" alt="..." /></a>
                        <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
                        <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                        <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>

        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
    </body>
</html>
