{% include 'header.html' %}
        <header class="masthead" style="background-image: url('static/assets/img/tech.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Here are some projects I have completed.</h1>
                            <h2 class="subheading">GitHub repo links included.</h2>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Projects-->
                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading fw-normal lh-1">Space Invaders Game</h2>
                                <p class="lead">The Space Invaders Game built using Python and tkinter.</p>
                                <p><a href="https://github.com/lilwill590/Space-Invaders-Game">View Space Invader Game project on GitHub</a></p>
                            </div>
                            <div class="col-md-5 order-md-1">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Space-Invaders-Game"><image href="{{ url_for('static', filename='assets/img/space_invaders.jfif') }}" alt="Image of the space invaders game." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading fw-normal lh-1">Automated Google Chrome Dino Game</h2>
                                <p class="lead">Application the automates the playing of the Google Chrome Dino Game.</p>
                                <p><a href="https://github.com/lilwill590/Chrome_Dino_Game_Bot">View Automated Chrome Dino project on GitHub</a></p>
                            </div>
                            <div class="col-md-5">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Chrome_Dino_Game_Bot"><image href="{{ url_for('static', filename='assets/img/dino.png') }}" alt="Pixel image of the Google Chrome dinosaur." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading fw-normal lh-1">Custom Web Scraper</h2>
                                <p class="lead">Web scraping project that turns the scraped data in a CSV.</p>
                                <p><a href="https://github.com/lilwill590/Custom-Web-Scrapper-Portfolio-Project">View Web Scraper project on GitHub</a></p>
                            </div>
                            <div class="col-md-5 order-md-1">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Custom-Web-Scrapper-Portfolio-Project"><image href="{{ url_for('static', filename='assets/img/web-scraping-1.jpg') }}" alt="Image of a web scraper." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading fw-normal lh-1">Morse Code</h2>
                                <p class="lead">Text based program that turns a string into morse code.</p>
                                <p><a href="https://github.com/lilwill590/Morse-Code">View Morse Code project on GitHub</a></p>
                            </div>
                            <div class="col-md-5">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Morse-Code"><image href="{{ url_for('static', filename='assets/img/morse_code.png') }}" alt="An image of morse code translated to english." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading fw-normal lh-1">Todo List</h2>
                                <p class="lead">A web app Todo list made with Python, Flask, HTML, and styled with Semantic.</p>
                                <p><a href="https://github.com/lilwill590/Todo-List">View Todo List project on GitHub</a></p>
                            </div>
                            <div class="col-md-5 order-md-1">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Todo-List"><image href="{{ url_for('static', filename='assets/img/todo_list.webp') }}" alt="Image of a simple todo list." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading fw-normal lh-1">Typing Speed Test</h2>
                                <p class="lead">A Tkinter GUI desktop application that tests your typing speed.</p>
                                <p><a href="https://github.com/lilwill590/Typing-Speed-Test">View Typing Speed Test project on GitHub</a></p>
                            </div>
                            <div class="col-md-5">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Typing-Speed-Test"><image href="{{ url_for('static', filename='assets/img/typing_speed_test.png') }}" alt="Image of words typed from a computer." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading fw-normal lh-1">Cafe and Wifi RESTFul API</h2>
                                <p class="lead">API with RESTful routing that locates, adds, updates, and deletes you have added to your database using Postman. Documentation is available.</p>
                                <p><a href="https://github.com/lilwill590/Cafe-and-Wifi">View Cafe and Wifi project on GitHub</a></p>
                            </div>
                            <div class="col-md-5 order-md-1">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Cafe-and-Wifi"><image href="{{ url_for('static', filename='assets/img/cafe.jpg') }}" alt="Image of the interior of a modern cafe." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading fw-normal lh-1">Virtual Library</h2>
                                <p class="lead">A library built using Python, Flask, HTML, and SQLAlchemy to create a database to store, rate, and delete books you have read.</p>
                                <p><a href="https://github.com/lilwill590/Virtual-Library">View Virtual Library project on GitHub</a></p>
                            </div>
                            <div class="col-md-5">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Virtual-Library"><image href="{{ url_for('static', filename='assets/img/library.jpg') }}" alt="Image of a multi floor library." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading fw-normal lh-1">Movie Ranker Website</h2>
                                <p class="lead">A site that uses sqlite, wtforms, sqlalchemy, and flask that allows you to add/rank your favorite movies.</p>
                                <p><a href="https://github.com/lilwill590/Movie-Ranking-Website">View Movie Ranker project on GitHub</a></p>
                            </div>
                            <div class="col-md-5 order-md-1">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Movie-Ranking-Website"><image href="{{ url_for('static', filename='assets/img/move-poster.jpg') }}" alt="An image of 3 posters of movies on a wall." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading fw-normal lh-1">Calculator with Anvil</h2>
                                <p class="lead">Simple calculator built using Python and Anvil GUI.</p>
                                <p><a href="https://similar-sticky-impression.anvil.app/">View Calculator project on GitHub</a></p>
                            </div>
                            <div class="col-md-5">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://similar-sticky-impression.anvil.app/"><image href="{{ url_for('static', filename='assets/img/calculator.jpg') }}" alt="Image of some cards and dice with poker chips." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading fw-normal lh-1">Blackjack</h2>
                                <p class="lead">Built using Python, Replit, and random modules.</p>
                                <p><a href="https://github.com/lilwill590/Blackjack">View Blackjack project on GitHub</a></p>
                            </div>
                            <div class="col-md-5 order-md-1">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Blackjack"><image href="https://images.unsplash.com/photo-1655159428752-c700435e9983?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image of some cards and dice with poker chips." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading fw-normal lh-1">Snake game</h2>
                                <p class="lead">Built using Python, Turtle, and Time module.</p>
                                <p><a href="https://github.com/lilwill590/Snake-Game">View Snake Game project on GitHub</a></p>
                            </div>
                            <div class="col-md-5">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Snake-Game"><image href="https://plus.unsplash.com/premium_vector-1689096751455-ceb88f7a71ae?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image of an animated snake." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <div class="row featurette">
                            <div class="col-md-7 order-md-2">
                                <h2 class="featurette-heading fw-normal lh-1">Password generator</h2>
                                <p class="lead">Basic password generator project using for loops and random module built in Python.</p>
                                <p><a href="https://github.com/lilwill590/Password-Generator">View Password Generator project on GitHub</a></p>
                            </div>
                            <div class="col-md-5 order-md-1">
                                <svg aria-label="Placeholder: 500x500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500" preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><a href="https://github.com/lilwill590/Password-Generator"><image href="{{ url_for('static', filename='assets/img/locks.jpg') }}" alt="An image with a key inserted into a lock." width="100%" height="100%" fill="var(--bs-secondary-bg)"></image></a></svg>
                                <span class="caption text-muted">Image can also be used as link to GitHub.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>

{% include 'footer.html' %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../static/js/scripts.js"></script>
